<!-- 수정 페이지 -->
{{>layouts/header}}
{{#member}}
<form class="container" action="/members/update" method="post">
    <div class="mb-3">
        <input type="hidden" name="id" value="{{id}}"/>
        <label class="form-label">이메일</label>
        <input type="text" class="form-control" name="email" value="{{email}}"/>
    </div>
    <div class="mb-3">
        <label class="form-label">비밀번호</label>
        <textarea class="form-control" rows="3" name="password">{{password}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="members/{{id}}">Back</a>
</form>
{{/member}}
{{>layouts/footer}}