<!-- 상세페이지 -->
{{>layouts/header}}

<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>

    <tbody>
    {{#member1}}
        <tr>
            <th>{{id}}</th>
            <td>{{email}}</td>
            <td>{{password}}</td>
        </tr>
    {{/member1}}
    </tbody>
</table>
<a href="/members/{{member1.id}}/edit" class="btn btn-primary">Go to edit</a>
<a href="/members">Go to member list</a>

{{>layouts/footer}}